:root{
    box-sizing: border-box;
}

*{
    /* border: solid black 1px; */
    opacity: 98%;
}

/* Background styling */
#background{
    background-color:rgb(212, 243, 233);
    margin:0 0.2%;
    
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    background-color: whitesmoke;
    margin: 0;
    padding-top: 2%;
    padding-left: 2%;
}
/* Greeting */
h1 {
    margin:5% 10%;
    font-weight: bolder;
    order: 2;
    height: fit-content;
    font-family: 'Lora', serif;
    font-size: 32pt;
    flex: 1 1 auto;
}
/* Format my photograph */
.me{
    margin: 0;
    max-width: 400px;
    max-height: 400px;
    border: solid black 1px;
    border-radius: 45px;
    opacity: 95%;
    flex: 0 1 400px;
}

/* Format my name specifically */
#myName {
    font-family: 'Lora', serif;
    font-size: 20pt;
    margin: 0;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    max-width: 400px;
    text-align: left;
    order: 3;
}

/* navigation bar */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(97, 168, 143);
    padding: 1% 1% 1% 3%;
    margin-top: 0;
    font-family: 'Lora', serif;
    font-size: 24pt;
    font-weight: bolder;
    color: white;
}
/* navigation links */
.navigator{
    flex: 0 .5 auto;
}

/* layout for aside and main through class content */
.content{
display: flex;

}

/* About me section */
aside {
    background: rgb(181, 235, 218);
    order: 1;
    width: 33%;
}


/* Work samples */
main {
    order: 2;
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

/* This will make app 1 larger than others */
#one{
    order: 1;
     width: 50%;
    flex: 1 1 300px;
}

/* card */
.card{
    order: 2;
    flex: 0 2 200px;
    width: 25%;
}

#mineral{
    transform: rotate(90deg);
    margin: 0;
}

/* Links to email and other pages */
footer{
    background: rgb(188, 200, 240);
    border-top: solid rgb(12, 20, 44) 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer div{
    
    margin: 2%;
    padding: 1%;
}

/* Media query for tablets */
@media screen and (max-width:768px) {
   header{
       
   }
   
    h1 {
       
    }
    /* Format my photograph */
    .me{
       
             
    }
    
    /* Format my name specifically */
    #myName {
       
    }
    nav{
       
    }
    .navigator{
    
    }
    
    /* layout for aside and main through class content */
    .content{
    
    }
    
    /* About me section */
    aside {
       
    }
    /* Work samples */
    main {
       
    }
    
    /* This will make app 1 larger than others */
    #one{
       
    }
    
    /* card */
    .card{
       
    }
    
    #mineral{
       
    }
    
    /* Links to email and other pages */
    footer{}
}

/* Media query for mobile */
@media screen and(max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        flex-direction: column;
    }

}
